@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #F0F8FF;
    font-family: 'Outfit', sans-serif;
    color: #24252A ;
}

html {
    scroll-behavior: smooth;
  }

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #F0F8FF ;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0 10px;
    width: 100%;
    
}

.logo{
    cursor: pointer;
    height: 50px;
}

.nav_links{
    font-family: 'Outfit', sans-serif;
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    color:#24252A;
}

.nav_links li a:hover{
    color:#24252A;
}

button{
    padding: 10px 15px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 100px; 
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.6);
    box-shadow: 0px 0px 20px  white;
    
}

.container-sobre{
    width: 100%;
    height: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 48px;
        
}

p{
    color: #24252A ;
    margin-top: 25px;
    width: 500px;
    text-align: center;
}

.container-sobre img{
    height: 200px;
    border-radius: 100px;
    border: rgba(0, 136, 169, 1);
    border-style: solid;
    object-fit: cover;   
}

.container-tecnologias{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-tecnologias h1{
    color: #24252A;
    width: 230px;
    height: 70px;

}

.container-tecnologias-img{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.container-tecnologias-img img{
    width: 100%;
    background-color: #eee;
   
}

.curriculo{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.card{
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 1.8em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

}

.card:hover{
    box-shadow: 0 0 0 5px rgba(0, 136, 169, 1);  
}

.container-experiencias{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-experiencias h1{
    color: #24252A;
    width: 230px;
    height: 70px;

}

/* MODAL */

#modal-marriott, #modal-contato{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade-marriott, #fade-contato{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;

}

#modal-marriott, #modal-contato{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    background-color: #F0F8FF;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 20px;
}

#fechar-modal-marriott, #fechar-modal-contato{
    background-color: rgb(129, 129, 129);
}

.header-modal{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    font-size: 16px;
}

.header-modal.contato{
    font-size: 20px;
}

#modal-marriott.hide,#modal-contato.hide,
#fade-marriott.hide, #fade-contato.hide{
    opacity: 0;
    pointer-events: none;
}

.conteudo-modal span a{
    color: #24252A;
}

